<mat-toolbar color="primary">
    <p id="title">A Song of Ice and Fire</p>
    <div>
        <app-user-input></app-user-input>
    </div>
    <mat-divider></mat-divider>

    <div class="menu-buttons">
        <button mat-raised-button routerLink="/" class="menu-button">Home</button>
        <button mat-raised-button routerLink="/characters" class="menu-button">Characters</button>
        <button mat-raised-button routerLink="/houses" class="menu-button">Houses</button>
        <button mat-raised-button routerLink="/books" class="menu-button">Books</button>
    </div>

</mat-toolbar>