<div class="container">
    <mat-card class="book-card">
        <mat-card-header>
            <mat-card-title>{{ book.name }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-card-actions>
                <button mat-button color="primary" routerLink="/characters">Go Back</button>
            </mat-card-actions>
            <p>
                <strong>ISBN:</strong> {{ book.isbn }}
            </p>
            <p>
                <strong>Authors:</strong> {{ book.authors.join(', ') }}
            </p>
            <p>
                <strong>Number of Pages:</strong> {{ book.numberOfPages }}
            </p>
            <p>
                <strong>Publisher:</strong> {{ book.publisher }}
            </p>
            <p>
                <strong>Country:</strong> {{ book.country }}
            </p>
            <p>
                <strong>Media Type:</strong> {{ book.mediaType }}
            </p>
            <p>
                <strong>Released:</strong> {{ book.released }}
            </p>

            <div id="namedCharacters">
                <strong>Characters:</strong>
                <ng-container *ngIf="book.povCharactersids.length > 0; else noPOVCharacters">
                    <mat-list>
                        <mat-list-item *ngFor="let namedCharacterId of pagedNamedCharacterIds">
                            <a [routerLink]="['/characters', namedCharacterId]">
                                {{ (getCharacterName(namedCharacterId) | async) }}
                            </a>
                        </mat-list-item>
                    </mat-list>
                    <mat-paginator [pageSizeOptions]="[5, 10, 25]" [pageSize]="pageSizeNamedCharacters" [length]="book.characterids.length" (page)="pageNamedCharacters($event)">
                    </mat-paginator>
                </ng-container>
            </div>
            <div id="povCharacters">


                <ng-container *ngIf="book.povCharactersids.length > 0; else noPOVCharacters">
                    <strong>POV Characters:</strong>
                    <mat-list>
                        <mat-list-item *ngFor="let povCharacterId of pagedPOVCharacterIds">
                            <a [routerLink]="['/characters', povCharacterId]">
                                {{ (getCharacterName(povCharacterId) | async) }}
                            </a>
                        </mat-list-item>
                    </mat-list>
                    <mat-paginator [pageSizeOptions]="[5, 10, 25]" [pageSize]="pageSizePOVCharacters" [length]="book.povCharactersids.length" (page)="pagePOVCharacters($event)">
                    </mat-paginator>
                </ng-container>
            </div>
        </mat-card-content>
        <ng-template #noPOVCharacters>
            <mat-card-actions>
                <p class="no-data">No POV characters found for this book</p>
            </mat-card-actions>
        </ng-template>
    </mat-card>
</div>