<div class="character-container">
    <div>
        <p>Choose one of the many characters of this world to know more about them</p>
    </div>
    <div class="list-container">
        <mat-list>
            <mat-list-item *ngFor="let character of (characters| async)?.results">
                <a [routerLink]="['/characters', character.id]">{{ character.name ||character.aliases[0]}}</a>
            </mat-list-item>
        </mat-list>

        <div class="paging">
            <button mat-flat-button (click)="previousPage()" [disabled]="currentPage === 1">Previous Page</button>
            <button mat-flat-button (click)="nextPage()">Next Page</button>
        </div>
    </div>

</div>