<mat-list>
    <mat-list-item *ngFor="let house of (houses| async)?.results">
        <a [routerLink]="['/houses', house.id]">{{ house.name }}</a>
    </mat-list-item>
</mat-list>


<div class="paging">
    <!-- <button mat-flat-button (click)="currentPage = 1;getCharacters()" [disabled]="currentPage === 1">First</button> -->
    <button mat-flat-button (click)="prevPage()" [disabled]="currentPage === 1">Previous Page</button>
    <button mat-flat-button (click)="nextPage()">Next Page</button>
    <!-- <button mat-flat-button (click)="currentPage=maxPages;" [disabled]="currentPage === maxPages">Last</button> -->
</div>